.anime-container {
    border-left: solid 20px #1b1b1b;
    border-right: solid 20px #1b1b1b;
    background-color: #1b1b1b;
}

.anime-main-container {
    border-left: solid 1px #a1a1a1;
    border-right: solid 1px #a1a1a1;
    border-bottom: solid 1px #a1a1a1;
}

.anime-inner-container {
    margin-bottom: 1%;
    margin-left: 5px;
    margin-right: 1%;

    .anime-info-lnk {
        font-size: 1.1rem;
        color: rgb(1, 141, 50);

        a {
            color: rgb(237, 218, 47);
        }

        a:hover {
            color: rgb(255, 251, 3);
            text-decoration: underline;
        }
    }

    select {
        border: solid 1px white;
        background-color: rgb(10, 10, 10);
        color: rgb(221, 167, 18);
        border-radius: 2px;
        width: 5rem;
        height: 2rem;
        margin-bottom: 2px;
        margin-right: 2px;
        text-align: center;
    }
}

#iframe-container3 {
    border: solid 1px rgb(0, 75, 0);
    position: relative;
    width: 667px;
    height: 375px;
    overflow: hidden;

    iframe {
        border: 0;
        position: absolute;
        scroll-behavior: unset;
        top: -75px;
        left: -91px;

        width: 772px;
        height: 700px;
        overflow: hidden;
    }
}

#iframe-container4 {

    border: solid 1px rgb(0, 75, 0);
    position: relative;
    width: 667px;
    height: 375px;
    overflow: hidden;

    iframe {
        border: 0;
        position: absolute;
        scroll-behavior: unset;
        top: -92px;
        left: -3px;

        width: 667px;
        height: 464px;
        overflow: hidden;
    }
}

#iframe-container5 {

    border: solid 1px rgb(0, 75, 0);

    position: relative;
    width: 667px;
    height: 375px;
    overflow: hidden;

    iframe {
        border: 0;
        position: absolute;
        scroll-behavior: unset;
        top: -367px;
        left: -8px;

        width: 676px;
        height: 740px;
        overflow: hidden;
    }
}

#iframe-container6 {
    border: solid 1px rgb(0, 75, 0);
    position: relative;
    width: 720px;
    height: 403px;
    overflow: hidden;

    iframe {
        border: 0;
        position: absolute;
        scroll-behavior: unset;
        top: -110px;
        left: -27px;

        width: 768px;
        height: 700px;
        overflow: hidden;
    }
}

.iframe-container {
    border: solid 1px rgb(0, 75, 0);
    position: relative;
    width: 60%;
    padding-top: 35%;

    .iframe-content {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border: 0;
        width: 100%;
        height: 100%;
    }
}

.next-prev-container {
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    text-align: center;
    height: 2rem;

    p {
        a {
            color: rgb(10, 184, 10);
        }

        a:hover {
            color: rgba(10, 184, 10, 0.728);
            text-decoration: underline;
        }
    }

    #next-ep {
        margin-top: 0;
        margin-bottom: 0;
        position: absolute;
        line-height: 100%;
        left: 52%;
        height: 85%;
    }

    #prev-ep {
        margin-top: 0;
        margin-bottom: 0;
        position: absolute;
        left: 0;
        line-height: 100%;
        height: 85%;
    }
}

@media (max-width:500px) {

    .iframe-container {
        width: 98%;
        padding-top: 55%;
    }

    .next-prev-container {
        #next-ep {
            left: 60%;
        }
    }
}